body {
  font-family: 'Poppins', 'Segoe UI', sans-serif;
  color: #444;
  background: #f8f9fc;
  overflow-x: hidden;
}

.text-primary-dark {
  color: #0B0A2A !important;
}

.text-primary-light {
  color: #B89AC3 !important;
}

.bg-primary-dark {
  background-color: #0B0A2A !important;
}

.bg-primary-light {
  background-color: #B89AC3 !important;
}

.navbar-toggler {
  border-color: rgba(11, 10, 42, 0.15) !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar-logo{
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.nav-link {
  font-weight: 500;
}

.btn-theme {
  background-color: #B89AC3 !important;
  color: #0B0A2A !important;
  font-weight: 600;
  border-radius: 30px !important;
  padding: 10px 30px !important;
  border: none !important;
  transition: .3s;
}

.btn-theme:hover {
  background-color: #0B0A2A !important;
  color: #B89AC3 !important;
}

.btn-outline-theme {
  background: transparent !important;
  color: #0B0A2A !important;
  font-weight: 600;
  border-radius: 30px !important;
  padding: 10px 30px !important;
  border: 2px solid #B89AC3 !important;
  transition: .3s;
}

.btn-outline-theme:hover {
  background: #B89AC3 !important;
  color: #0B0A2A !important;
}

.hero-badge {
  display: inline-block;
  background: rgba(184, 154, 195, 0.18);
  color: #0B0A2A;
  padding: 14px 30px;
  font-weight: 700;
  border-radius: 50px;
}

.hero-title {
  font-size: 6rem;
  font-weight: 900;
  line-height: 0.95;
  text-transform: uppercase;
  letter-spacing: 3px;

  /* Text Color */
  color: #C7B0D8;

  /* Exact Logo Style Shadow */
  text-shadow:
    3px 0 #241B63,
    3px 3px #241B63,
    6px 6px #120D3D,
    8px 8px 0 rgba(18, 13, 61, 0.25);

  -webkit-text-stroke: 1px rgba(255,255,255,0.15);
}

.hero-logo {
  width: 420px;
  height: 420px !important;
  object-fit: cover;
}

.service-icon {
  width: 100px;
  height: 100px;
  background: rgba(184, 154, 195, .15);
}

.faq-icon {
  font-size: clamp(4rem, 12vw, 8rem);
  color: #B89AC3;
}

.worker-card i {
  font-size: clamp(4rem, 10vw, 7rem);
  color: #B89AC3;
}

@media (max-width: 768px) {

  .hero-section {
    text-align: center;
    min-height: auto;
    padding: 60px 0;
  }

  .hero-title {
    font-size: 3.2rem;
  }

  .hero-logo {
    width: 280px;
    height: 280px !important;
    margin-top: 25px;
  }

  .worker-card {
    min-height: 260px;
  }

  .floating-card {
    display: none !important;
  }
}
